{% extends "::container.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Gestion des offres</h1>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">
                    <label>Récupérer les offres du jour de la française des jeux</label>
                    <div><a href="{{ path('fd_offer_get') }}" class="btn btn-primary active">Récupérer</a></div>
                </div>
            </div>
            {% block response %}
            {% endblock %}
        </div>
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Numéro FDJ</th>
                        <th>Sport ID</th>
                        <th>Paris</th>
                        <th>Cote</th>
                        <th>Résultat</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for offer in offers %}
                            <tr>
                                <td>{{ offer.label }}</td>
                                <td>{{ offer.fdjNumber }}</td>
                                <td>{{ offer.sportId }}</td>
                                <td>{{ offer.bet }}</td>
                                <td>{{ offer.cote }}</td>
                                <td><span class="col-xs-1 col-xs-offset-4"> {{ offer.resultat }}</span>
                                    {% if(offer.resultat == offer.bet and offer.resultat != null) %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                    {% elseif(offer.resultat != offer.bet and offer.resultat != null and offer.bet != null) %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}